body {
  font-family: "Work Sans", sans-serif;
  font-size: 12pt;
  /*background-color: #FF5757;*/
}

.bodyBack {
  background-image: url("../../img/homeImageRed.html");

  background-position: top;
  background-size: cover;
  height: 600px;
  /*z-index: 0;*/
}

.whiteBack {
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100vh;
  min-height: 100%;
  margin-top: 400px;
  border-radius: 30px;
  z-index: 0;
}

.top {
  background-color: white;
  position: fixed;
  width: 100%;
  height: 40px;
  top: 0;
  padding: 15px;
  z-index: 5;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 30%);
}
.logo{
  position: absolute;
  top: 22px;
  left: 10%;
}

.homeBack {
  /*width: 100%;*/
  height: 700px;
  background-image: url("../../img/homeImageDark.html");
  background-color: #FF5757;
  background-repeat: no-repeat;
  /*background-size: auto 100%;*/
  background-size: cover;
  background-position: center center;
}

.reg {
  border-radius: 50px;
  position: relative;
  background-color: #FF5757;
  padding-right: 30px;
  padding-left: 30px;
  height: 40px;
  color: white;
  border: none;
  margin-top: 15px;
  z-index: 2;
}

.reg:hover {
  background-color: #710000;
}

.more {
  text-align: center;
  z-index: 1;
  background-color: #589eb9;
}

.homeBack div {
  text-align: center;
  color: white;
}
.homeBack h1 {
  padding-top: 240px;
  font-size: 50pt;
  margin-right: 100px;
  margin-left: 100px;
  line-height: 1;
}
.homeBack p {
  margin-top: -30px;
  margin-left: 20%;
  margin-right: 20%;
}

#unlist {
  font-weight: 600;
  display: flex;
  justify-content: right;
  list-style: none;
  margin: 0;
  margin-right: 10%;
  background-color: white;
  /*padding: 20px;*/
}

#unlist li {
  /*padding: 15px;*/
}

#unlist li a {
  text-decoration: none;
  display: block;
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}


#unlist li a:link, #unlist a:visited {
  color: #FF5757;
}


/*.unlist li a:hover {*/
/*  background-color: pink;*/
/*}*/

.login {
  border: solid #FF5757 2px;
  border-radius: 50px;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 10px;
  margin-left: 20px;
}

.daftar {
  /*border: solid #B16B74 2px;*/
  border-radius: 50px;
  background-color: #589eb9;
  padding-right: 10px;
  padding-left: 10px;
}

.daftar a {
  color: white !important;
}

.hamburger {
  float: right;
  display: none;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0%);
  border: none;
  color: #FF5757;
  /*font-size: 60px;*/
}
.daftar:hover {
  background-color: #437C90;
}

.hot{
  position: absolute;
  top: -100px;
}

.cardSec {
  /*width: 1300px;*/
  display: flex;
  justify-content: center;
  /*background-color: white;*/
  border-radius: 20px;
  /*background-color: #589eb9;*/

  /*padding-top: 100px;*/
}

.cardContainer {
  width: 1200px;
  display: flex;
  flex-direction: column;
  /*background-color: #589eb9;*/
  flex-wrap: wrap;
  align-content: flex-start;
  height: 900px;
  /*justify-content: flex-start;*/
  /*padding-right: 23%;*/
  /*padding-left: 20%;*/
}

.card {
  background-color: white;
  z-index: 1;
  width: 100px;
  margin: 20px;
  border-radius: 20px;
  color: #710000;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 10%);
  /*padding: 20px;*/
}

.small {
  /*flex: 1;*/
  width: 36%;
  height: 400px/* Adjust the height as needed */
}

.big-card {
  position: relative;
  width: 55%;
  height: 840px;
}

.imageCard {
  background-color: #FF5757;
  height: 58%;
  border-radius: 10px;
  margin: 20px;
  background-image: url("../../img/artikel1.html");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.imageSmall {
  background-color: #FF5757;
  height: 45%;
  border-radius: 10px;
  margin: 20px;
  /*background-image: url("https://cdn1-production-images-kly.akamaized.net/iKT05H0vapLKchJWFaDpH5XS8M8=/640x360/smart/filters:quality(75):strip_icc():format(jpeg)/kly-media-production/medias/4210840/original/059751700_1667293031-pexels-pixabay-416405_1_.jpg");*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.card h1 {
  margin-top: 30px;
  margin-inline: 20px;
  font-size: 19pt;
}

.card p {
  margin-inline: 20px;
}

.card span {
  color: #a2a2a2;
  margin-top: 15px;
  margin-inline: 20px;
  font-size: 10pt;
  float: left;
  /*font-weight: bold;*/
}

.card a {
  margin-top: 10px;
  margin-inline: 20px;
  font-size: 15pt;
  float: right;
}

.card a:link, .card a:visited {
  color: #FF5757;
  text-decoration: none;
}

.card a:hover, .card a:active {
  color: #710000;
}

.login:hover {
  background-color: #FF5757;
  color: black;
}

.title{
  text-align: center;
  font-size: 40pt;
  color: white;
  margin-bottom: 100px;
}

#unlist li a:hover {
  color: #710000;
}

.hamburger:hover{
  color: #710000;
}

.sec1 {
  padding: 100px;
  padding-left: 10%;
}

.sec1 img {
  float: left;
  border-radius: 20px;
}

.sec1 {

}

p {
  line-height: 1.6;
}

.footer {
  background-color: #b16b75;
  position: relative;
  padding: 100px;
  padding-top: 50px;
  padding-left: 10%;
  padding-right: 10%;
  overflow: auto;
  color: white;
  z-index: 3;
}

.cs {
  /*background-color: #437C90;*/
  float: left;
}

.contact {
  width: 30%;
}

.peserta {
  width: 15%;
}

.pelatihan {
  width: 15%;
}

.pertanyaan {
  width: 15%;
}

.cs p {
  line-height: 2.2;
}

.cs a:link, .cs a:visited {
  text-decoration: none;
  color: white;
}
.cs a:hover, .cs a:active {
  text-decoration: underline;
}

.footer h1 {
  font-size: 15pt;
  margin: 0;
}
.footlogo{
  /*background-color: #710000;*/
  width: 20%;
  float: left;
  /*display: flex;*/
}

.footin {
  height: 230px;
}

.footest a:link, a:visited {
  color: white;
  text-decoration: none;
}
.footest a:hover, a:active {
  text-decoration: underline;
}

.footlogo p {
  margin-top: 80px;
}

.footlogo i {
  font-size: 20pt;
  letter-spacing: 10px;
}

@media (max-width: 1120px) {
  .footer p {
    font-size: 80%;
  }
  .cs h1 {
    font-size: 90% !important;
  }
  .footlogo img {
    height: 20px;
  }
  .footlogo i {
    font-size: 160%;
  }
  .footest {
    font-size: 80%;
  }

}

@media (max-width: 850px) {

  .footlogo img {
    height: 30px;
  }

  .footlogo {
    width: 100%;
    height: 80px;
  }
  .footlogo i {
    display: inline;
    float: right;
    margin-top: 0;
  }

  .footlogo p {
    display: none;
  }

  .contact {
    width: 60%;
    /*background-color: #437C90;*/
  }
  .peserta {
    width: 40%;
  }
  .pelatihan {
    width: 60%;
    margin-top: 30px;
  }
  .pertanyaan {
    width: 40%;
    margin-top: 30px;
  }

  .footin {
    height: 460px;
    /*display: flex;*/
  }


}

@media (min-width: 1212px) {
  .cardMore {
    display: none;
  }

}

@media (max-width: 1210px) {
  .cardContainer{
    /*background-color: #FF5757;*/
    width:940px;
    /*gap: 10px;*/
  }
  .card {
    width: 46% !important;
  }
  .big-card{
    width: 36%;
    height: 400px;
  }
  .big-card p {
    display: none;
  }
  .imageCard{
    height: 45%;
  }
  .card{
    /*margin: 5px;*/
  }
}

@media (max-width: 950px) {
  .cardContainer {
    /*background-color: #589eb9;*/
    height: 200%;
  }
  .cardContainer{
    width: 450px;
  }
  .card {
    width: 95% !important;
  }
}

@media (max-width: 1300px) {
  .logo{
    left: 30px;
  }
  #unlist {
    margin-right: 30px;
  }
}

@media (min-width: 1121px) {
  #unlist {
    display: flex !important;
  }
}
@media (max-width: 1120px) {
  #unlist {
    display: none;
    margin-top: 55px;
    margin-left: -20px;
    margin-right: 15px;
    height: 490px;
    /*padding: 0px;*/
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 10%);
    /*z-index: -2;*/
  }

  #unlist a {
    /*margin-top: 25px;*/
  }

  #unlist li {
    padding: 10px;
  }

  .hamburger {
    position: absolute;
    display: block;
    top: 20px;
    right: 50px;
    /*margin-right: 50px;*/
    margin-top: -6px;
    /*background-color: rgba(0, 0, 0, 0%);*/
    /*border: none;*/
  }

  .login a {
    margin-top: 0;
    text-align: center;
  }

  .login {
    margin-top: 20px;
    padding: 3px;
    margin-left: 15px;
    margin-right: 40px;
  }
  .daftar a {
    text-align: center;
    margin-top: 0px;
  }
  .daftar {
    margin-top: 20px;
    margin-left: 15px;
    padding: 3px;
    margin-right: 40px;
  }

}

@media (max-width: 800px) {
  .homeBack h1 {
    font-size: 30pt;
  }

  .homeBack p {
    margin-top: 10px;
    font-size: 10pt;
  }
}

@media (max-width: 460px) {
  .card {
    width: 100vw !important;
    /*transform: scale(80%);*/
    margin: 0;
  }

  @media (max-width: 450px) {
    .card h1 {
      font-size: 18pt;
    }

    .card {
      box-shadow: 0px 0px 0px;
      margin-top: 30px;
      /*height: auto !important;*/
    }

    .card a {
      font-size: 14pt;
      margin-top: 13px;
    }

  }

}
