#unlist li a:hover, #unlist li a:active {
  color: #710000;
}

.title:hover {
  color : #710000;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

main {
  padding-inline: 10%;
}


.box {
  width: 350px;
  height: 350px;
  background-color: white;
  border-radius: 10px;
  box-shadow:  0px 30px 40px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-bottom: 40px;
  overflow: hidden;
  transition: box-shadow 0.3s ease-in-out;

} .box:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

  }

.box img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.box h3 {
  margin-top: 10px;
  font-size: 20px;
}

.box p {
  margin-top: 5px;
  font-size: 16px;
}

.responsive-paragraph {
  font-size: 16px; /* Ukuran awal teks */
  line-height: 1.5; /* Tinggi baris teks */
}

@media screen and (max-width: 768px) {
  .responsive-paragraph {
    font-size: 14px; /* Ukuran teks pada layar dengan lebar maksimum 768px */
  }
}

@media screen and (max-width: 480px) {
  .responsive-paragraph {
    font-size: 12px; /* Ukuran teks pada layar dengan lebar maksimum 480px */
  }
}





.footer {
  background-color: #b16b75;
  padding: 100px;
  padding-top: 50px;
  padding-left: 10%;
  padding-right: 10%;
  overflow: auto;
  color: white;
}

.cs {
  /*background-color: #437C90;*/
  float: left;
}

.contact {
  width: 30%;
}

.jelajah a:link, .jelajah a:visited {
  color: #FF5757;
}

.peserta {
  width: 15%;
}

.pelatihan {
  width: 15%;
}

.pertanyaan {
  width: 15%;
}

.cs p {
  line-height: 2.2;
}

.cs a:link, .cs a:visited {
  text-decoration: none;
  color: white;
}
.cs a:hover, .cs a:active {
  text-decoration: underline;
}

.footer h1 {
  font-size: 15pt;
  margin: 0;
}
.footlogo{
  /*background-color: #710000;*/
  width: 20%;
  float: left;
  /*display: flex;*/
}


.footin {
  height: 230px;
}

.footest a:link, a:visited {
  color: white;
  text-decoration: none;
}
.footest a:hover, a:active {
  text-decoration: underline;
}

.footlogo p {
  margin-top: 80px;
}

.footlogo i {
  font-size: 20pt;
  letter-spacing: 10px;
}

@media (max-width: 1120px) {
  .footer p {
    font-size: 80%;
  }
  .cs h1 {
    font-size: 90% !important;
  }
  .footlogo img {
    height: 20px;
  }
  .footlogo i {
    font-size: 160%;
  }
  .footest {
    font-size: 80%;
  }

}

@media (max-width: 850px) {

  .footlogo img {
    height: 30px;
  }

  .footlogo {
    width: 100%;
    height: 80px;
  }
  .footlogo i {
    display: inline;
    float: right;
    margin-top: 0;
  }

  .footlogo p {
    display: none;
  }

  .contact {
    width: 60%;
    /*background-color: #437C90;*/
  }
  .peserta {
    width: 40%;
  }
  .pelatihan {
    width: 60%;
    margin-top: 30px;
  }
  .pertanyaan {
    width: 40%;
    margin-top: 30px;
  }

  .footin {
    height: 460px;
    /*display: flex;*/
  }



}


.top {
  background-color: white;
  position: fixed;
  width: 100%;
  height: 40px;
  top: 0;
  padding: 15px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 30%);
}
.logo{
  position: absolute;
  top: 22px;
  left: 10%;
}

.login {
  display: none;
}

#unlist {
  font-weight: 600;
  display: flex;
  justify-content: right;
  list-style: none;
  margin: 0;
  margin-right: 10%;
  background-color: white;
  /*padding: 20px;*/
}

#unlist li {
  /*padding: 15px;*/
}

#unlist li a {
  text-decoration: none;
  display: block;
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}


#unlist li a:link, #unlist li a:visited {
  color: #FF5757;
}


.login {
  border: solid #FF5757 2px;
  border-radius: 50px;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 10px;
  margin-left: 20px;
}

.daftar {
  /*border: solid #B16B74 2px;*/
  border-radius: 50px;
  background-color: #589eb9;
  padding-right: 10px;
  padding-left: 10px;
}

.daftar:hover {
  background-color: #437C90;
}

.daftar a {
  color: white !important;
}
.hamburger {
  float: right;
  display: none;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0%);
  border: none;
  color: #FF5757;
  /*font-size: 60px;*/
}

.hamburger:hover{
  color: #710000;
}

@media (max-width: 1300px) {
  .logo{
    left: 30px;
  }
  #unlist {
    margin-right: 30px;
  }
}
@media (min-width: 1121px) {
  #unlist {
    display: flex !important;
  }
}

@media (max-width: 1120px) {
  #unlist {
    display: none;
    margin-top: 55px;
    margin-left: -20px;
    margin-right: 15px;
    height: 420px;
    /*padding: 0px;*/
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 10%);
    /*z-index: -2;*/
  }
  .login {
    display: block;
  }
  .profilImage {
    display: none;
  }

  #unlist li {
    padding: 10px;
  }

  .hamburger {
    position: absolute;
    display: block;
    top: 20px;
    right: 50px;
    /*margin-right: 50px;*/
    margin-top: -6px;
    /*background-color: rgba(0, 0, 0, 0%);*/
    /*border: none;*/
  }

  .login a {
    margin-top: 0;
    text-align: center;
  }

  .login {
    margin-top: 20px;
    padding: 3px;
    margin-left: 15px;
    margin-right: 40px;
  }
  .daftar a {
    text-align: center;
    margin-top: 0px;
  }
  .daftar {
    margin-top: 20px;
    margin-left: 15px;
    padding: 3px;
    margin-right: 40px;
  }
}








