
.text h1 {
  color :#FF5757;
}

main {
  padding-inline: 10%;
}
.title:hover {
    color : #710000;
}

.box a:link, a:visited {
  color: #FF5757 !important;
}

.riwayat a:link, .riwayat a:visited {
  color: #FF5757;
}

.pelatihan a:link, .pelatihan a:visited {
  color: white !important;
}
.footer a:link, .footer a:visited {
  color: white !important;
}

.login a:hover, .login a:active {
  color: white !important;
}
.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .contain {
    width: 80%;
    max-width: 600px;
    margin: left auto;

  }

  .text {
    display: inline-block;
    padding: 10px;
    font-size: 24px;
    text-align: center;
    color: white;
    background-color: #FF5757;
  }

  @media (max-width: 768px) {
    .text {
      font-size: 18px;
    }
  }


  .box {
    width: 350px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    box-shadow:  0px 30px 40px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-bottom: 40px;
    overflow: hidden;
    transition: box-shadow 0.3s ease-in-out;

  } .box:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

  }

  .box img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }

  .box h3 {
    margin-top: 20px;
    font-size: 20px;
    color:#710000;
  }

  .box h5 {
    margin-top: 5px;
    font-size: 16px;
    color:#b16b75;
  }


  .responsive-paragraph {
    font-size: 16px; /* Ukuran awal teks */
    line-height: 1.5; /* Tinggi baris teks */
  }

  @media screen and (max-width: 768px) {
    .responsive-paragraph {
      font-size: 14px; /* Ukuran teks pada layar dengan lebar maksimum 768px */
    }
  }

  @media screen and (max-width: 480px) {
    .responsive-paragraph {
      font-size: 12px; /* Ukuran teks pada layar dengan lebar maksimum 480px */
    }
  }


  .lowongan a{
  border: solid #FF5757 2px;
  border-radius: 20px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 10px;
  margin-left: 20px;


  }
  .lowongan a:hover {
    color: white !important;
    background-color: #FF5757;
  }


  .footer {
    background-color: #b16b75;
    padding: 100px;
    padding-top: 50px;
    padding-left: 10%;
    padding-right: 10%;
    overflow: auto;
    color: white;
  }

  .cs {
    /*background-color: #437C90;*/
    float: left;
  }

  .contact {
    width: 30%;
  }

  .peserta {
    width: 15%;
  }

  .pelatihan {
    width: 15%;
  }

  .pertanyaan {
    width: 15%;
  }

  .cs p {
    line-height: 2.2;
  }

  .cs a:link, .cs a:visited {
    text-decoration: none;
    color: white;
  }
  .cs a:hover, .cs a:active {
    text-decoration: underline;
  }

  .footer h1 {
    font-size: 15pt;
    margin: 0;
  }
  .footlogo{
    /*background-color: #710000;*/
    width: 20%;
    float: left;
    /*display: flex;*/
  }

  .footin {
    height: 230px;
  }

  .footest a:link, a:visited {
    color: white;
    text-decoration: none;
  }
  .footest a:hover, a:active {
    text-decoration: underline;
  }

  .footlogo p {
    margin-top: 80px;
  }

  .footlogo i {
    font-size: 20pt;
    letter-spacing: 10px;
  }

  @media (max-width: 1120px) {
    .footer p {
      font-size: 80%;
    }
    .cs h1 {
      font-size: 90% !important;
    }
    .footlogo img {
      height: 20px;
    }
    .footlogo i {
      font-size: 160%;
    }
    .footest {
      font-size: 80%;
    }

  }

  @media (max-width: 850px) {

    .footlogo img {
      height: 30px;
    }

    .footlogo {
      width: 100%;
      height: 80px;
    }
    .footlogo i {
      display: inline;
      float: right;
      margin-top: 0;
    }

    .footlogo p {
      display: none;
    }

    .contact {
      width: 60%;
      /*background-color: #437C90;*/
    }
    .peserta {
      width: 40%;
    }
    .pelatihan {
      width: 60%;
      margin-top: 30px;
    }
    .pertanyaan {
      width: 40%;
      margin-top: 30px;
    }

    .footin {
      height: 460px;
      /*display: flex;*/
    }



  }

